<!-- ここまでのコードをすべて削除-->

<!-- タイトルとナビゲーションボタン-->
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <!-- タイトルと本文-->
        <h1 class="fw-light">Photo Gallery</h1>
        <p class="lead text-muted">コメントを見て写真に描かれた世界に思いを馳せましょう。<br>素敵な写真とコメントをお待ちしています！</p>
        <p>
          <!-- ナビゲーションボタン-->
          {%if user.is_authenticated%}
          
          <!-- ログイン中のボタン-->
          <a class="btn btn-primary my-2" href="{%url 'photo:post'%}">投稿する</a>
          <a class="btn btn-secondary my-2" href="{%url 'accounts:logout'%}">ログアウト</a>
          {%else%}

          <!-- ログイン状態でない場合のボタン-->
          <a href="{%url 'accounts:signup'%}" class="btn btn-primary my-2">今すぐサインアップ</a>
          <a href="{%url 'accounts:login'%}" class="btn btn-secondary my-2">登録済みの方はログイン</a>
          {%endif%}
        </p>
      </div>
    </div>
  </section>

  <!-- 以下のコードをすべて削除-->